<div class="general-container">
  <div class="left">
    <div class="header">
      <h3>Exam center</h3>
      <h3>Levels Offered</h3>
      <h3 class="none">Recommendations</h3>
      <div class="none"></div>
    </div>
    <div class="body">
      <div class="container">
        <div class="image">
          <img src="../../../assets/images (3).jpeg" alt="">
          <span>B.G.S Molyko</span>
        </div>
        <div class="other">
          <span class="designation">O/A levels</span>
        </div>
        <div class="other none">
          <li>Top ranking</li>
        </div>
        <div class="other none">
          <span>...</span>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container">
        <div class="image">
          <img src="../../../assets/images (3).jpeg" alt="">
          <span>G.H.S Bokwaongo</span>
        </div>
        <div class="other">
          <span class="designation">O/A Levels</span>
        </div>
        <div class="other none">
          <li>Good science dept</li>
        </div>
        <div class="other none">
          <span>...</span>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container">
        <div class="image">
          <img src="../../../assets/images (3).jpeg" alt="">
          <span>G.T.H.S Molyko</span>
        </div>
        <div class="other">
          <span class="designation">CAP/BAC/O&A Levels</span>
        </div>
        <div class="other none">
          <li>Top ranking Tech</li>
        </div>
        <div class="other none">
          <span>...</span>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container">
        <div class="image">
          <img src="../../../assets/images (3).jpeg" alt="">
          <span>C.C.S Douala</span>
        </div>
        <div class="other">
          <span class="designation">O/A Levels</span>
        </div>
        <div class="other none">
          <li>Top bilingual</li>
        </div>
        <div class="other none">
          <span>...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="../../../assets/images (3).jpeg" alt="">

    <h2>My Account</h2>
    <p>Profile update status</p>
    <div class="socail">
      <span><i class="fas fa-phone"></i></span>
      <span><i class="fas fa-phone"></i></span>
      <span><i class="fas fa-phone"></i></span>

    </div>
    <hr>
    <div class="category">
      <h3>Results</h3>
      <span>Last Year</span>
    </div>
    <div class="category">
      <h3>Registration</h3>
      <span>Calender</span>
    </div>
    <div class="category">
      <h3>Tutorials</h3>
      <span>General</span>
    </div>
  </div>
</div>
