<section class="body">
  <nav>
    <ul>
      <li class="active">
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="">Dashboard</a>
        </span>
      </li>
      <li>
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="/post">Exams</a>
        </span>
      </li>
      <li>
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="">Results</a>
        </span>
      </li>
      <li>
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="">Transcripts</a>
        </span>
      </li>
      <li>
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="">Resources</a>
        </span>
      </li>
      <li>
        <span>
          <i class="fab fa-facebook"></i>
          <a routerLink="">Profile</a>
        </span>
      </li>
    </ul>
  </nav>
</section>

<section class="sidenav-footer">
  <div class="img">
    <div class="text">
      <p>Connect with other staudents and study groups via our snp </p>

    </div>
    <img src="../../../assets/images (1).jpeg" alt="">
  </div>
</section>
