<section id="footer" *ngIf="!hideFooter">
  <footer id="footer-section">
    <div class="nav-links-container">
      <div class="logo-container">
        <img src="" alt="" class="logo">
      </div>
      <nav class="navbar">
        <ul class="nav-items">
          <li class="nav-list-items">
            <a href="#">home</a>
          </li>
          <li class="nav-list-items">
            <a href="#">packages</a>
          </li>
          <li class="nav-list-items">
            <a href="#">about us</a>
          </li>
          <li class="nav-list-items">
            <a href="#">
              contact us
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="social-links-contact-container">
      <div class="social-icons">
        <mat-icon class="mat-18">facebook</mat-icon>
        <mat-icon class="mat-18">whatshot</mat-icon>
        <mat-icon class="mat-18">sports</mat-icon>
        <mat-icon class="mat-18">school</mat-icon>
      </div>
      <div class="footer-list-options">
        <p class="quality">Quality</p>
        <p class="careers">Events</p>
        <p class="help">help</p>
        <p class="share">share</p>
      </div>
      <div class="footer-list-options">
        <p class="phone">(+237) 675-455-860</p>
        <p class="email">easy@gmail.com</p>
        <p class="email">delivery@gmail.com</p>
      </div>
      <div class="footer-list-options">
        <p class="terms">Terms and conditions</p>
        <p class="policy">privacy and policy</p>
      </div>
    </div>

    <div class="copyright-container">
      2021<mat-icon class="mat-18">copyright</mat-icon>All rights reserved by easy@mail.com
    </div>
  </footer>
</section>
